
body{
    background-color:rgb(166, 205, 250);
}
#menuContenedor{
    padding-top:1.5em;
    padding-bottom: 0.5em;
    width: 100%;
    height: 60px;
    background-color: rgb(90, 129, 173);
    border-radius: 0.8em;
}
.MainMenu{
    display:inline-block;
}
.ulMain {
    
    margin-top:0em;
    list-style-type:none; 
    width: 100%;
    margin-left: 25%;
    margin-right:18%;
    
}


.ulMain > li {
    margin-right:3em;
    padding:1em;
    float:left;
    font-family: Courier New, Courier, monospace;
    background-color: rgb(90, 129, 173);
    width: 10em;
  
}


.ulMain li > a {
    
    color: rgb(255, 255, 255);
    padding: 1em 1em;
    text-decoration-style:double;    
    font-weight: bold;
    font-size: 1em;
    border-width: 0.01em;
    border-color:white;
    border-style: solid;
    
}

#Nosotros span{
    color: rgb(255, 255, 255);
    background-color: rgb(90, 129, 173);
    text-decoration-line: underline;
    text-decoration-style: double;
    padding: 1em 1em;
    font-weight: bold;
    font-size: 1em;
    border-width: 0.01em;
    border-color:white;
    border-style: solid;

}

.ulMain li a:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(90, 129, 173);
    
   
}

ulMain #Nosotros:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(90, 129, 173);
    
   
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-top:1em;
}

h2{
    background-color: rgb(90, 129, 173);
    border-radius:1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    text-align: left;
    padding-left: 2em;
    margin-top:1em;
}


#Nosotros:hover .ulNosotros li{
    display:inline-block;
    margin-top:2em;

    font-size: 1em;
    text-decoration: none;
    background-color:rgb(255, 255, 255);
    color:rgb(90, 129, 173);
    align-self: center;
    width: 15em;
    height: auto;
    }

#Nosotros:hover .ulNosotros li a{
        display:inline-block;
        margin-top:2em;
    
        font-size: 1em;
        text-decoration: none;
        background-color:rgb(255, 255, 255);
        color:rgb(90, 129, 173);
        align-self: center;
        width: 15em;
        height: auto;
        }


.ulNosotros{
    color:black;

}   
    
.ulNosotros li{
            display:none;
           
            width: 10em;
        }

#Informatica{
    background-color: rgb(173, 177, 182);
    border-radius: 1em;
    padding:1em;
    padding-left:1.5em;
    float:left;
    width:70%;}

#imageninfo{

    float:left;
    margin-right:1em;
    margin-bottom:1em;
}

.BarraLateral{
    float:right;
    position: fixed;
    left:73%;
    top:47%;
    width:25%;
    margin-left:2%;
    background-color: rgb(90, 129, 173);
    border-radius:1em;
}

#ulLateral{
    list-style: none;
}
.BarraLateral h3{
    margin-left:2em;
}

#ulLateral li {
    padding:0.5em;
    margin:0.5em;
    border-style:solid;
    border-width: 0.01em;
    border-color:white;
    border-radius:1em;

}

#ulLateral li a{

    text-decoration-line:none;
    color: white;
    

}

#ulLateral li:hover{
    background-color: white;
    
}
#ulLateral li:hover a{

color:rgb(90, 129, 173);
}
#negritainfo{
    font-weight:bold;
    margin:1em;
    text-align:center;
}

#restoTextoinfo{
    margin-left:1em;
}

#Eco{
    background-color: rgb(173, 177, 182);
    border-radius: 1em;
    padding:1em;
    padding-left:1.5em;
    float:left;
    width:70%;}

#SEco h2{
    float:left;
    width:70%;


}

#imagenEco{
    float:left;
    margin-right:1em;
    margin-bottom:1em;
}

#ecoBold{

    font-weight:bold;
}

#fooContenedor{
    margin-top:2em;
    padding-top:1.5em;
    padding-bottom: 0.5em;
    width: 100%;
    height: 100px;
    background-color: rgb(90, 129, 173);
    border-radius: 0.8em;
    float:left;
}

.fooMenu{

    display:inline-block;
}

.ulfoo {
    list-style-type:none; 
    width: 100%;
    margin-left: 5%;
    margin-right:18%;
    
}
.ulfoo li {
    margin:1em;
    padding:0.5em;
    float:left;
    font-family: Courier New, Courier, monospace;
    background-color: rgb(90, 129, 173);
    width: 10em;
    border-width: 0.1px;
    border-color:white;
    border-style: dashed;
  
}


.ulfoo li a {
    
    color: rgb(255, 255, 255);
    padding: 1em 1em;
    text-decoration-line:none;    
    font-size: 1em;
    
    
}


